.contenedorLogin{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 180px;
}

*{
    background-color: rgb(50, 50, 50);
}

input{
    background-color: aliceblue;
}
button{
    margin-top: 12px;
    margin-right: 15px;
    background-color:#C19A6B;
    color:maroon;
    border: 1px solid black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
img{
    
    width: 200px;
    height: 200px;
}